body {
	margin: 0;
	padding: 0;
/*font-family: 'Comfortaa', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Gruppo', cursive;
font-family: 'Amatica SC', cursive;
font-family: 'Life Savers', cursive;
font-family: 'Roboto Slab', serif;*/
font-family: 'Open Sans', sans-serif;
/*font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Suranna', serif;
font-family: 'Rufina', serif;
font-family: 'Judson', serif;
font-family: 'Bentham', serif;*/
/*font-family: 'Prata', serif;*/
}

#welcome-container{
	width: 100vw;
	height: 100vh;
}
.welcome-container{
width: 100vw;
height: 100vh;
}

.welcome-page {
	margin: 0;
	padding: 0;
	display: block;
	text-align: center;
	margin-top: 100px;
}

.welcomeh1{
	margin: 0;
	padding: 0;
	font-family: 'Gruppo', sans-serif;
	font-size: 45px;
	letter-spacing: 5px;
}
.toh1 {
	margin: 20px;
	padding: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: lighter;
	font-style: italic;
	font-size: 20px;
	letter-spacing: 2px;
}

.fattoasth1 {
	margin: 0;
	font-family: 'Bentham', serif;
	font-size: 110px;
	letter-spacing: 18px;
}

.buttons-row {
display: block;
text-align: center;
margin-top: 100px;
}

.login-butt {
	border: 1px solid black;
	border-radius: 100px;
/*	padding: 10px 15px;*/
	width: 150px;
	padding: 15px 5px;
	background-color: transparent;
	margin: 0px;
	margin-left: 80px;
	margin-right: 80px;
	text-align: center;
}
.signup-butt {
	border: 1px solid black;
	border-radius: 100px;
	/*padding: 10px 15px;*/
	width: 150px;
	padding: 15px 5px;
	background-color: transparent;
	margin: 0px;
	margin-left: 80px;
	margin-right: 80px;
	text-align: center;
}

.a-login{
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-size: 18px; 
	font-family: 'Gruppo', sans-serif;
	letter-spacing: 2px;
	color: #000000;
	text-transform: lowercase;
}
.a-login:hover{
	color: orange;
}
.a-signup{
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-size: 18px; 
	font-family: 'Gruppo', sans-serif;
	font-weight: 300;
	letter-spacing: 2px;
	color: #000000;
	text-transform: lowercase;
}
.a-signup:hover{
	color: orange;
}



