body {
	margin: 0;
	padding: 0;
	/*font-family: 'Comfortaa', cursive;
	font-family: 'Fredoka One', cursive;
	font-family: 'Gruppo', cursive;
	font-family: 'Amatica SC', cursive;
	font-family: 'Life Savers', cursive;
	font-family: 'Roboto Slab', serif;*/
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Suranna', serif;
	font-family: 'Rufina', serif;
	font-family: 'Judson', serif;
	font-family: 'Bentham', serif;*/
	/*font-family: 'Prata', serif;*/

}

#welcome-container{
/*	width: 100vw;
	height: 100vh;
*/
}

.blah {
/*	width: 100vw;
	height: 100vh;
	background-image: url('./milkpuff.jpg');
	background-size: cover; */
}


.welcome-container{
/*	width: 100vw;
	height: 100vh;*/

}

.welcome-page {
	margin: 0;
	padding: 0;
	display: block;
	text-align: center;
	margin-top: 100px;
}

.welcomeh1{
	margin: 0;
	padding: 0;
	font-family: 'Gruppo', sans-serif;
	font-size: 45px;
	letter-spacing: 5px;
	animation: welcomedown 1s ease-in;
}
@keyframes welcomedown {
0% 		{ opacity: 0; 
		  margin: -50px;}
100% 	{ opacity: 100%; 
		  margin: 0;}
}
.toh1 {
	margin: 20px;
	padding: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: lighter;
	font-style: italic;
	font-size: 20px;
	letter-spacing: 2px;
	animation: todown 3s ease-in;
}
@keyframes todown {
0% 		{ opacity: 0; }
20%		{ opacity: 0; }
100% 	{ opacity: 100%; }
}

.fattoasth1 {
	margin: 0;
	font-family: 'Bentham', serif;
	font-size: 110px;
	letter-spacing: 18px;
	animation: toastdown 4s ease-in-out;
}
@keyframes toastdown {
0% 		{ opacity: 0; }
50%		{ opacity: 0; 
		  letter-spacing: -20px;}
100% 	{ opacity: 100%; 
		  letter-spacing: 18px;}
}

.buttons-row {
	display: block;
	text-align: center;
	margin-top: 100px;
	animation: buttonopac 5s ease-in-out;
}
@keyframes buttonopac {
0% 		{ opacity: 0; }
80%		{ opacity: 0; }
100% 	{ opacity: 100%; }
}

.login-butt {
	border: 1px solid black;
	border-radius: 100px;
/*	padding: 10px 15px;*/
	width: 150px;
	padding: 15px 5px;
	background-color: transparent;
	margin: 0px;
	margin-left: 80px;
	margin-right: 80px;
	text-align: center;
}
.signup-butt {
	border: 1px solid black;
	border-radius: 100px;
	/*padding: 10px 15px;*/
	width: 150px;
	padding: 15px 5px;
	background-color: transparent;
	margin: 0px;
	margin-left: 80px;
	margin-right: 80px;
	text-align: center;
}

.a-login{
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-size: 18px; 
	font-family: 'Gruppo', sans-serif;
	letter-spacing: 2px;
	color: #000000;
	text-transform: lowercase;
}
.a-login:hover{
	color: orange;
}
.a-signup{
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-size: 18px; 
	font-family: 'Gruppo', sans-serif;
	font-weight: 300;
	letter-spacing: 2px;
	color: #000000;
	text-transform: lowercase;
}
.a-signup:hover{
	color: orange;
}



