body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;

}


#container{
	width: 100vw;
	height: 100vh;
	background-color: #FFF7D2;
}

.start-cont{
	width: 100%;
	height: 100%;
	text-align: center;
}

.new-cont {
	display: block;
	text-align: right;
	margin-top: 60px;
	margin-left: 30px;
	position: fixed;
}

.newpost-butt {
	
	border: 1px solid #aeaeae;
	border-radius: 10px;
	background-color: transparent;
	color: #777777;
	text-decoration: none;
	text-align: right;
	font-size: 12px;
	margin: 10px;
	padding: 10px;
}
.newpost-butt:hover {
	border-radius: 100px;
	border-color: orange;
	background-color: orange;
	border-radius: orange;
	padding: 34px 10px;
	animation: circle .5s ease-in;
	text-transform: uppercase;
	font-weight: bold;
	color: #fafafa;
}
@keyframes circle {
	0% { border-radius: 10px;
		 padding: 10px 10px;
		 background-color: transparent;
	     border-radius: orange; }
	40% { padding: 35px 10px; }
	60% { padding: 25px 10px;
		  color: #fafafa; }
	70% { padding: 35px 10px;
		  color: #fafafa; }		  
	80% { padding: 30px 10px; }	
	100% { border-radius: 100px;
		   border-color: orange;
		   padding: 34px 10px;
		   background-color: orange;
	       border-radius: orange; }
}



