body, html{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
#container {
	margin: 0;
	padding: 0;
	background-color: #FFF7D2;
}
.cont {

	padding-top: 50px;
	width: 100%;
	height: 100%;
	animation: totheleft 1s ease-in-out;
}
@keyframes totheleft {
	0% {opacity: 0;
		width: 0%;}
	30%{opacity: 0;}
	100% {opacity: 100%;
		width: 100%;}
}

.new-post-cont {
	text-align: center;
}

.new-posth1 {
	margin: 0;
	padding: 0;
}
.p-title {
	border: 1px solid #909090;
	border-radius: 5px;
	width: 400px;
	height: 30px;
	margin: 10px;
	padding: 5px;
}

.p-img {
	border: 1px solid #909090;
	border-radius: 5px;
	width: 400px;
	height: 30px;
	margin: 10px;
	padding: 5px;
}

.p-content {
	border: 1px solid #909090;
	border-radius: 5px;
	width: 400px;
	height: 200px;
	margin: 10px;
	padding: 5px;
}

.p-submit {
	border: 1px solid #fafafa;
	border-radius: 10px;
	background-color: transparent;
	width: 100px;
	height: 50px;
	padding: 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: background-color 2s;
}
.p-submit:hover {
	cursor: pointer;
	background-color: orange;
	animation: sub 1.2s ease;
}
@keyframes sub {
	0% { background-color: rgba(240,240,240, 0.0); }
	100% { background-color: orange; }
}